#box {
    margin: 10% 25%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
    margin: auto 10%;
    padding: 5px;
}

li {
    display: inline;
    float: right;
}


a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: green;
}

#uniq {
    color: gray;
}
li img {
    width: 20px;
    float:right;
    padding-top: 8px;
    padding-left: 15px;
}